<%= form_for(@vehicle_service) do |f| %>
	<% if @vehicle_service.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@vehicle_service.errors.count, "error") << " " << t(:form_errors_found) %>:</h2>

			<ul>
			<% @vehicle_service.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<% available_vehicles = Vehicle.all.collect { |vehicle| [ vehicle.indicative, vehicle.id ] } %>

	<%= f.hidden_field :service_id, :value => @service.id %>
	<div class="field">
		<%= f.label :vehicle_id, t(:form_add_vehicle_to_service_vehicle_id) %><br>
		<%= f.select(:vehicle_id, available_vehicles) %>
	</div>
	<div class="actions btn">
		<%= f.submit t(:form_add_vehicle_to_service_submit) %>
	</div>
<% end %>
