<% provide(:title, t(:form_service_show_title)) %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong><%= t(:form_service_name) %>:</strong>
  <%= @service.name %>
</p>

<p>
  <strong><%= t(:form_service_description) %>:</strong>
  <%= @service.description %>
</p>

<p>
  <strong><%= t(:form_service_assembly) %>:</strong>
  <%= @service.assembly_id %>
</p>

<p>
  <strong><%= t(:form_service_base_time) %>:</strong>
  <%= @service.base_time %>
</p>

<p>
  <strong><%= t(:form_service_start_time) %>:</strong>
  <%= @service.start_time %>
</p>

<p>
  <strong><%= t(:form_service_finish_time) %>:</strong>
  <%= @service.end_time %>
</p>

<p>
  <strong><%= t(:form_service_code) %>:</strong>
  <%= @service.code %>
</p>

<%= link_to t(:resource_edit), edit_service_path(@service) %> |
<%= link_to t(:resource_back), services_path %>
