<% provide(:title, t(:form_service_show_title)) %>
<h1> <%= t(:form_service_show_title) %> </h1>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div id="service_details">
	<strong><%= t(:form_service_name) %>:</strong>
	<%= @service.name %>
	<br>
	<strong><%= t(:form_service_description) %>:</strong>
	<%= @service.description %>
	<br>
	<strong><%= t(:form_service_assembly) %>:</strong>
	<%= @service.assembly.name %>
	<br>
	<strong><%= t(:form_service_base_time) %>:</strong>
	<%= @service.base_time %>
	<br>
	<strong><%= t(:form_service_start_time) %>:</strong>
	<%= @service.start_time %>
	<br>
	<strong><%= t(:form_service_end_time) %>:</strong>
	<%= @service.end_time %>
	<br>
	<strong><%= t(:form_service_code) %>:</strong>
	<%= @service.code %>
	<br>
	<strong><%= t(:form_service_archived) %>:</strong>
	<%= @service.archived %>
	<br>
	<%= link_to t(:resource_edit), edit_service_path(@service) if current_user.allowed_to?(:manage_services) %> |
	<%= link_to t(:resource_back), services_path %>
</div>
<div id="assigned_vehicles">
	<strong> <%= link_to t(:form_service_assigned_vehicles), service_vehicles_path(@service) %>: </strong>
	<table>
		<thead>
			<tr>
				<th><%=I18n.t(:form_vehicle_indicative)%></th>
				<th><%=I18n.t(:form_vehicle_license)%></th>
				<th><%=I18n.t(:form_vehicle_brand)%></th>
				<th><%=I18n.t(:form_vehicle_model)%></th>
				<th><%=I18n.t(:form_vehicle_type)%></th>
				<th><%=I18n.t(:form_vehicle_places)%></th>
			</tr>
		</thead>
		<tbody>
		<% @service.vehicles.each do |vehicle| %>
			<tr>
				<td><%= vehicle.indicative %></td>
				<td><%= vehicle.license %></td>
				<td><%= vehicle.brand %></td>
				<td><%= vehicle.model %></td>
				<td><%= vehicle.vehicle_type %></td>
				<td><%= vehicle.places %></td>
				<td><%= link_to t(:resource_show), vehicle %></td>
				<% if current_user.allowed_to?(:assign_vehicle_to_service) %>
					<% vehicle_service = vehicle.vehicle_services.find_by_service_id(@service.id) %>
					<td><%= link_to t(:resource_destroy), vehicle_service, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>
<% if current_user && current_user.allowed_to?(:assign_vehicle_to_service) %>
	<%= render 'add_vehicle' %>
<% end %>
