<% provide(:title, t(:recover_password)) %>
<h1><%= t(:recover_password) %></h1>
<div id="password_recovery_form">
	<%= form_tag password_reset_index_path, :method => :post do %>
		<%= label_tag :email, t(:form_user_email) %>
		<%= text_field :email, params[:email] %>
		
		<%= submit_tag t(:password_recovery_submit), class: "btn btn-large btn-primary" %>
	<% end %>
</div>