<% provide(:title, t(:vehicle_list_title)) %>
<h1><%= t(:vehicle_list_title) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:form_vehicle_brand) %></th>
      <th><%= t(:form_vehicle_model) %></th>
      <th><%= t(:form_vehicle_license) %></th>
      <th><%= t(:form_vehicle_indicative) %></th>
      <th><%= t(:form_vehicle_type) %></th>
      <th><%= t(:form_vehicle_places) %></th>
      <th><%= t(:form_vehicle_notes) %></th>
      <th><%= t(:form_vehicle_operative) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.license %></td>
        <td><%= vehicle.indicative %></td>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= vehicle.places %></td>
        <td><%= vehicle.notes %></td>
        <td><%= vehicle.operative %></td>
        <td><%= link_to t(:resource_show), vehicle %></td>
        <td><%= link_to t(:resource_edit), edit_vehicle_path(vehicle) %></td>
        <td><%= link_to t(:resource_destroy), vehicle, method: :delete, data: { confirm: t(:resource_destroy_confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:form_vehicle_new), new_vehicle_path %>
